body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(88, 118, 118);
}

.container {
    text-align: center;
}

.buttonstr{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition: all 0.3s ease;
    margin-right: 10px;
}
.buttonstp{
    background-color: #d50e0e;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition: all 0.3s ease;
    margin-left: 10px;
}

.numText{
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.time {
    font-size: 10rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}
